<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"

    backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<php>
		<env name="PATCHWORK_CACHE_USE_SYSTEM_TEMP_DIR" value="true"/>
	</php>
	<testsuites>
		<testsuite name="WP Stash php unit tests">
			<directory suffix="Test.php">./tests/PHPUnit/Unit</directory>
		</testsuite>
	</testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
                <directory>tests</directory>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tmp"/>
    </logging>
</phpunit>
